{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>Tables - Dashboard</title>
		<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
			name='viewport' />
		<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
		<link rel="stylesheet"
			href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
		<link rel="stylesheet" href="{% static 'assets/css/ready.css' %}">
		<link rel="stylesheet" href="{% static 'assets/css/demo.css' %}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />
		<link rel="stylesheet" href="https://cdn.datatables.net/2.0.2/css/dataTables.dataTables.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


	</head>
<body>
	<div class="wrapper">
		<div class="main-header">
			<div class="logo-header">
				<a  class="logo">
					Dashboard
				</a>
				<button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<button class="topbar-toggler more"><i class="la la-ellipsis-v"></i></button>
			</div>
			<nav class="navbar navbar-header navbar-expand-lg">
				<div class="container-fluid">


					<ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
						<li class="nav-item dropdown hidden-caret">

						</li>
						<li class="nav-item dropdown hidden-caret">

						</li>
						<li class="nav-item dropdown">
							<a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false"> <img src="{% static 'assets/img/userp.png' %}"  alt="user-img" width="36" class="img-circle"><span>{{ request.user.username }}</span></a>
							<ul class="dropdown-menu dropdown-user">
								<li>
									<div class="user-box">
										<div class="u-img"><img src="{% static 'assets/img/userp.png' %}"  alt="user"></div>
										<div class="u-text">
											<h4>{{ request.user.username }}</h4>
											<p class="text-muted">{{ request.user.email }}</p></div>
										</div>
									</li>

									<a class="dropdown-item" href="#"><i class="ti-user"></i> My Profile</a>
									<a class="dropdown-item" href="#"></i> My Balance</a>
									<a class="dropdown-item" href="#"><i class="ti-email"></i> Inbox</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="#"><i class="ti-settings"></i> Account Setting</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="{% url 'logout' %}"><i class="fa fa-power-off"></i> Logout</a>
								</ul>
							</li>
						</ul>
					</div>
				</nav>
			</div>
			<div class="sidebar">
				<div class="scrollbar-inner sidebar-wrapper">
					<div class="user">
						<div class="photo">
							<img src="{% static 'assets/img/userp.png' %}">
						</div>
						<div class="info">
							<a class="" data-toggle="collapse" aria-expanded="true">
								<span>
									{{ request.user.username }}
									<span class="user-level">Administrator</span>

								</span>
							</a>
							<div class="clearfix"></div>

						</div>
					</div>
					<ul class="nav">
						<li class="nav-item" id="dashboard">
							<a href="/container/" onclick="setActive('dashboard')">
								<i class="la la-dashboard"></i>
								<p style="color: dark;">Containers</p>
							</a>
						</li>
						<li class="nav-item" id="logs">
							<a href="/logs/" onclick="setActive('logs')">
								<i class="la la-table"></i>
								<p style="color: dark;">Logs</p>
							</a>
						</li>
						<li class="nav-item" id="finishedlogs">
							<a href="/finishedlogs/" onclick="setActive('finishedlogs')">
								<i class="la la-table"></i>
								<p style="color: dark;">Finished Logs</p>
							</a>
						</li>
						<li class="nav-item" id="saleorder">
							<a href="/api/saleorder/" onclick="setActive('saleorder')">
								<i class="la la-line-chart"></i>
								<p style="color: dark;">Sales</p>
							</a>
						</li>
						<li class="nav-item" id="salereport">
							<a href="/salereport/" onclick="setActive('salereport')">
								<i class="la la-bar-chart"></i>
								<p style="color: dark;">Sales Report</p>
							</a>
						</li>
						<li class="nav-item" id="stockreport">
							<a href="/stock/" onclick="setActive('stockreport')">
								<i class="la la-area-chart"></i>
								<p style="color: dark;">Stock Report</p>
							</a>
						</li>

					</ul>

				</div>
			</div>
                {% block content %}
                {% endblock %}
		</div>

<script>
	csrfToken="{{ csrf_token }}"
	status = "{{ form.instance.status }}"
</script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="{% static 'assets/js/core/jquery.3.2.1.min.js' %}"></script>
<script src="{% static 'assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js' %}"></script>
<script src="{% static 'assets/js/core/popper.min.js' %}"></script>
<script src="{% static 'assets/js/core/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/plugin/chartist/chartist.min.js' %}"></script>
<script src="{% static 'assets/js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js' %}"></script>
<script src="{% static 'assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js' %}"></script>
<script src="{% static 'assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js' %}"></script>
<script src="{% static 'assets/js/plugin/jquery-mapael/jquery.mapael.min.js' %}"></script>
<script src="{% static 'assets/js/plugin/jquery-mapael/maps/world_countries.min.js' %}"></script>
<script src="{% static 'assets/js/plugin/chart-circle/circles.min.js' %}"></script>
<script src="{% static 'assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js' %}"></script>
<script src="{% static 'assets/js/ready.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/6.0.0/bootbox.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<script src="https://cdn.datatables.net/2.0.2/js/dataTables.min.js"></script>

<script src="{% static 'assets/js/myscripts.js' %}"></script>
<script>
$("#mylogTable").dataTable({
  columnDefs: [{
    "defaultContent": "-",
    "targets": "_all"
  }]
});
</script>
<script>
    function setActive(activeId) {
        var navItems = document.querySelectorAll('.nav-item');
        navItems.forEach(function(item) {
            if (item.id === activeId) {
                item.classList.add('active');
            } else {
                item.classList.remove('active');
            }
        });
    }

    window.onload = function() {
        var path = window.location.pathname;
        var activeId = '';
        if (path === '/container/') {
            activeId = 'dashboard';
        } else if (path === '/logs/') {
            activeId = 'logs';
        } else if (path === '/finishedlogs/') {
            activeId = 'finishedlogs';
        }else if (path === '/api/saleorder/') {
            activeId = 'saleorder';
        }
        else if (path === '/salereport/') {
            activeId = 'salereport';
        }
        else if (path === '/stock/') {
            activeId = 'stockreport';
        }
        setActive(activeId);
    };
</script>

</body>
</html>
