{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="main-panel">
    <div class="content">
        <div class="container-fluid">
            <h4 class="page-title">Finished Log Info</h4>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            {% if combination_logs %}
                                <div id="accordion">
                                    {% for combination, logs, logs_count, length_counts in combination_logs %}
                                        <div class="card" style="margin-bottom: 0;">
                                            <div class="card-header" id="heading{{ forloop.counter }}" style="padding: 12px 5px;">
                                                <div class="d-flex position-relative"
                                                     data-toggle="collapse"
                                                     data-target="#collapse{{ forloop.counter }}"
                                                     aria-expanded="true"
                                                     aria-controls="collapse{{ forloop.counter }}"
                                                     style="cursor: pointer;">
                                                    <style>
                                                        .truncate {
                                                            max-width: 1200px;
                                                            white-space: nowrap;
                                                            overflow: hidden;
                                                            text-overflow: ellipsis;
                                                            color: black;
                                                        }

                                                        .chevron-down-arrow {
                                                            right: 12px !important;
                                                            float: right;
                                                            position: absolute;
                                                            top: 10px;
                                                            cursor: pointer;
                                                            transition: color 0.3s ease;
                                                        }

                                                        .chevron-down-arrow:hover {
                                                            color: blue;
                                                        }
                                                    </style>
                                                    <div class="d-flex justify-content-between align-items-center w-100">
                                                        <span class="truncate">
                                                            Finished Logs Count: <span>{{ logs_count }}</span>,&nbsp; (width: <span>{{ combination.0 }}</span>, thickness: <span>{{ combination.1 }}</span>),&nbsp;
                                                            {% for length, count in length_counts.items %}
                                                                [Length: <span>{{ length }}</span>, Count: <span>{{ count }}</span>]
                                                            {% endfor %}
                                                        </span>
                                                    </div>
                                                    <i class="fas fa-chevron-down chevron-down-arrow"></i>
                                                </div>
                                            </div>
                                            <div id="collapse{{ forloop.counter }}" class="collapse {% if forloop.first %}show{% endif %}" aria-labelledby="heading{{ forloop.counter }}" data-parent="#accordion">
                                                <div class="card-body">
                                                    <div class="table-responsive">
                                                        <table class="table table-condensed">
                                                            <thead>
                                                                <tr>
                                                                    <th scope="col">S No.</th>
                                                                    <th scope="col">Length</th>
                                                                    <th scope="col">Width</th>
                                                                    <th scope="col">Thickness</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                {% for log in logs %}
                                                                    <tr>
                                                                        <td>{{ log.id }}</td>
                                                                        <td>{{ log.length }}</td>
                                                                        <td>{{ log.width }}</td>
                                                                        <td>{{ log.thickness }}</td>
                                                                    </tr>
                                                                {% empty %}
                                                                    <tr>
                                                                        <td colspan="4" class="text-center">No data available</td>
                                                                    </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <p>No data available</p>
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
