{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="main-panel">
    <div class="content">
        <div class="container-fluid">
            <h4 class="page-title">Log Info</h4>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">

                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="myTable" class="table table-condensed">
                                    <thead>
                                        <tr>
											<th scope="col">S No.</th>
											<th scope="col">Length</th>
                                            <th scope="col">Girth</th>
                                            <th scope="col">CFT/CBM</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for log in logs %}
                                        <tr>
                                            <td>{{ log.id }}</td>
                                            <td>{{ log.length}}</td>
                                            <td>{{ log.girth }}</td>
                                            <td>{{ log.cft_cbm }}</td>

                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
