{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="main-panel">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <a href="#" class="card-title">Sale Order</a>
                        </div>
                        <div class="card-body col-12">
                            <form id="sale-order-form">
                                <table class="table table-condensed" id="sale-order-table">
                            <tr>
                                <th scope="col">Width</th>
                                <th scope="col">Thickness</th>
                                <th scope="col">Length</th>
                                <th scope="col">Quantity</th>
                            </tr>
                            <tr>
                                <td>
                                    <input type="number" class="form-control" name="width" id="0_width" placeholder="Enter width" min="0" step=".01" required>
                                </td>
                                <td>
                                    <input type="number" class="form-control" name="thickness" id="0_thickness" placeholder="Enter thickness" min="0" step=".01" required>
                                </td>
                                <td>
                                    <input type="number" class="form-control" name="thickness" id="0_length" placeholder="Enter length"  min="0" step=".01" required>
                                </td>
                                <td>
                                    <input type="number" class="form-control" name="quantity" placeholder="Enter quantity"  id="0_quantity" min="0" required>
                                </td>
                            </tr>
                            <tfoot id="add-more-order-tr">
                                <td colspan="5" class="text-center">
                                    <a href="#" id="add-more-order">+ Add More</a>
                                </td>
                            </tfoot>
                        </table>
                                <div class="d-flex justify-content-end">
                                    <button type="button" id="submit_sale" class="btn btn-primary">Save</button>
                                </div>
                            </form>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}